
 
 <div class="links test">
  <div class="links">  <%= link_to 'Upcomming Events', user_path(upcomming_events: 'events'),class: "event-link" %></div>
   <div class="links"><%= link_to 'Past Events', user_path(past_events: "events"), class: 'event-link' %></div>
 </div>
<% if params[:upcomming_events].present? %>
  <%= render 'upcomming' %>
<% elsif params[:past_events].present? %>
  <%= render 'past' %>
<% end %>