<h1>index</h1>
<ul>
  <% @events.each do |event| %>
    <li><%= event.title %></li>
    <li><%= event.description %></li>
    <li><%= event.address %></li>
    <li><%= event.date %></li>
  <% end %>
</ul>